:root {
  --color-primary-light: #a98eb8;
  --color-primary-dark: #673d7e;
  --color-white: #fff; }

* {
  font-family: Libre Franklin, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: var(--color-primary-light);
  font-size: 62.5%;
  height: 100vh;
  overflow-y: hidden; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0.5rem;
  font-weight: bold;
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  font-size: 1rem; }

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center; }

.form {
  display: flex;
  flex-direction: column;
  width: 25%;
  text-align: center;
  color: var(--color-white);
  font-weight: bold;
  font-size: 1.5rem; }

.heading-primary {
  font-size: 3rem;
  color: var(--color-white);
  text-decoration: underline;
  font-weight: bold;
  margin: 3rem; }

.background-img {
  width: 100%;
  border: none;
  height: 100vh; }

.navbar {
  background-color: var(--color-primary-dark);
  margin: 0;
  padding: 0.7rem; }

.nav-el {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none; }
  .nav-el__item {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1rem;
    color: #fff; }
  .nav-el__link {
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    font-weight: bold; }
    .nav-el__link:hover {
      color: #fff;
      text-decoration: underline; }

.form-item {
  outline: none;
  padding: 0.8rem;
  margin: 0.5rem;
  border-radius: 1rem;
  border: 1px solid var(--color-white); }

.submit {
  border: 2px solid var(--color-primary-light);
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  font-weight: bold;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0.5rem 0.8rem; }
  .submit:hover {
    border: 2px solid var(--color-primary-dark);
    background-color: var(--color-primary-light);
    text-decoration: underline;
    cursor: pointer; }
