:root {
  --color-primary-light: #a98eb8;
  --color-primary-dark: #673d7e;
  --color-white: #fff;
}

* {
  font-family: Libre Franklin, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary-light);
  font-size: 62.5%;
  height: 100vh;
  // overflow-y: hidden;
}
