:root {
  --color-primary-light: #a98eb8;
  --color-primary-dark: #673d7e;
  --color-white: #fff; }

* {
  font-family: Libre Franklin, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: var(--color-primary-light);
  font-size: 62.5%;
  height: 100vh; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0.5rem;
  font-weight: bold;
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  font-size: 1rem; }

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center; }

.form {
  display: flex;
  flex-direction: column;
  width: 25%;
  text-align: center;
  color: var(--color-white);
  font-weight: bold;
  font-size: 1.5rem; }

.myMovies-section {
  width: 80%;
  margin: auto; }

.search-form {
  margin: 1.5rem auto; }

.heading-primary {
  font-size: 3rem;
  color: var(--color-white);
  text-decoration: underline;
  font-weight: bold;
  margin: 1.2rem;
  text-align: center; }

.heading-secondary {
  font-size: 1.5rem;
  color: var(--color-white);
  text-decoration: underline; }

a {
  text-decoration: none;
  color: var(--color-white); }

.background-img {
  width: 100%;
  border: none;
  height: 100vh; }

.navbar {
  background-color: var(--color-primary-dark);
  margin: 0;
  padding: 0.7rem; }

.nav-el {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none; }
  .nav-el__item {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1rem;
    color: #fff; }
  .nav-el__link {
    font-size: 1rem;
    font-weight: bold; }
    .nav-el__link:hover {
      color: #fff;
      text-decoration: underline; }

.left-side {
  display: flex; }

.form-item {
  outline: none;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 1rem;
  border: 1px solid var(--color-white);
  font-size: 1rem; }

.btn {
  border: 2px solid var(--color-primary-light);
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  font-weight: bold;
  width: 40%;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0.8rem; }
  .btn:hover {
    border: 2px solid var(--color-primary-dark);
    background-color: var(--color-primary-light);
    text-decoration: underline;
    cursor: pointer; }

.movies {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%; }
  .movies__movie {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 30%; }
  .movies__img {
    height: 14rem;
    width: 10rem;
    margin: 1rem 0; }
  .movies__tickets {
    color: var(--color-white);
    font-size: 1.2rem; }
  .movies__btn-group {
    display: flex;
    width: 60%;
    margin: 0 auto; }
  .movies__btn {
    margin: 1rem auto 12% auto; }

.errMsg {
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 1rem;
  color: var(--color-white);
  background-color: red;
  margin-top: 0.5rem; }
